.place__url-heading {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaa;
    margin: 0 0 12px;
    padding: 0;
}